@model IEnumerable<CleaningSupplies.Database.Models.Usage>

@{
    ViewBag.Title = "Index";
}

<h2>Report</h2>

<button onclick="PrintFunction()" id="btn" class="btn">Print</button>
<script>
function PrintFunction() {
        window.print();
    }</script>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetMasterT.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetMasterT.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity_modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetMasterT.CreatedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetMasterT.CreatedByDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedByDatetime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GetMasterT.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetMasterT.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity_modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetMasterT.CreatedById.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetMasterT.CreatedByDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedById.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedByDatetime)
            </td>

        </tr>
    }

</table>


