@model IEnumerable<CleaningSupplies.Database.Models.Usage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GetMasterT.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetMasterT.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity_modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedByDatetime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GetMasterT.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetMasterT.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity_modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedById.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedById.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedByDatetime)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
        </tr>
    }

</table>
